<!DOCTYPE html>
<html ng-app="pulpTTT">
	<head>
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
		<script src="/Users/NamNguyen/Desktop/GATicTacToe/ngFx.js"></script>
		<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
		<script src="main.js"></script>
		<title>Pulp Fiction TTD</title>
	</head>

	<body ng-controller="gameCtrl">		
		<main>
			<div id="cover-photo" class="fx-bounce-left" ng-show="showCover">
				<div cover-title-container class="cover-title-container fx-bounce-down" ng-show="showCoverTitle">
				<header class="cover-title">
					<h1>Pulp Fiction Tic Tac Die!</h1>
					<a href="#test"><button>PLAY!</button></a>
				</header>
				</div>
			</div>	
<!--<div id="start">-->

		<!--<div class="screen">

			<h2 class="game-character">Pick your player</h2>

			<div class="menu">
				<a href="#test"><input type="button" ng-click="playerAsign(1)" value="Vincent Vega"></a>
				<a href="#test"><input type="button" ng-click="playerAsign(2)" value="Butch Coolidge"></a>
			</div>

			</div>
		</div>
</div>-->
		<div id="test">
		<header ng-show="showGameBoard" class="game-board-title">
			<h2>Royale With Cheese</h2>
		</header>

		<div class="game-board">
		
		<section>
			<ul>
				<li ng-show="showGameBoard" ng-repeat="cell in db.cells track by $index" ng-class="{clear: $index % 3 == 0, format: true, vincent: cell == 'X', butch: cell == 'O', cover: cell != ('X' || 'O')}" ng-click="gamePlay($index)">
					{{ cell }}
				</li>
			</ul>
		</section>
		</div>
		<div ng-show="showGameBoard" class="result-board">
			<h2>The winner is!</h2>
			<p>{{ winner }}</p>
			<p>{{ tie }}</p>
			</br>
			<p>It is {{ characterTurn }} turn</p>
		</div>
		</div>
		</main>
	</body>
</html>