@font-face {
	font-family: "Typoster";
	src: url('../GATicTacToe/Typoster_demo.otf');
}

body {
	background-color: #FF0051;
}

#cover-photo {
	height: 100%;
	width: 100%;
	margin-bottom: 200px;
	background-image: url('http://cdn.wallgig.net/2014/03/01/303bueus70_Pulp_Fiction_11.png');
	background-size: cover;
	background-position: center center;
}

.cover-title {
	float: left;
	z-index: 5;
	font-size: 50px;
	text-shadow: 4px 8px black;
	font-family: Typoster;
}

.cover-title-container {
	width: 600px;
	height: 890px;
	margin-left: 50px;
}

button {
	background-color: #FF2321;
	color: #FFFDF8;
	border: 5px solid black;
	text-shadow: 2px 2px black;
}

header {
	text-align: center;
	margin-bottom: -150px;
	font-size: 40px;
	color: #F7FF3F;
}

.initial-screen > h2 {
	color: red;
	text-align: center;
}

.game-board {
	width: 725px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	position: relative;
}

.game-board-title {
	font-family: Typoster;
	font-size: 40px;
	padding-bottom: 10px;
	margin-left: 50px;
	text-shadow: 4px 4px black;
}

.format {
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 3px solid black;
	margin-right: 15px;
	float: right;
	margin-bottom: 15px;
}

.factoids {
	width: 280px;
	height: 300px;
	position: absolute;
	top: 30%;
	right: -290px;
}

.factoids > h2 {
	text-align: center;
	font-family: Typoster;
	text-shadow: 3px 3px black;
	color: #F7FF3F;
}

.factoids > p {
	font-family: sans-serif;
	color: white;
	font-size: 17px;
	text-shadow: 1px 1px black;
	padding: 5px;
	line-height: 20px;
}

.result-board {
	position: relative;
	left: 50px;
	height: 300px;
	width: 280px;
	font-size: 20px;
	top: 100px;
	display: inline-block;
}

.result-board > h2 {
	text-align: center;
	text-shadow: 2px 2px black;
	color: #F7FF3F;
	font-family: Typoster;
}

.result-board > p {
	text-align: center;
	margin-top: 30px;
	text-shadow: 2px 2px black;
	font-family: Typoster;
	color: #F7FF3F;
	font-size: 20px;
}

.bottom-space {
	height: 100px;
	width: 300px;
	float: left;
}

.cover {
	background-image: url('https://cdn.tutsplus.com/psd/uploads/legacy/0497_Movie_Fan_Art/pulp-fiction-1.jpg');
	background-size: cover;
	background-position: center center;
}

.vincent {
	background-image: url('http://gifs.gifbin.com/092009/1252480274_travolta_pulp_fiction.gif');
	background-size: cover; 
	background-position: center center;
}

.butch {
	background-image: url('http://www.gifwave.com/media/6581/bruce-willis-movie-quentin-tarantino-pulp-fiction-butch-coolidge.gif');
	background-size: cover;
	background-position: center center;
}


.clear {
	clear: both;
}
